@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-inter;
  }
}

@layer components {
  .link {
    @apply cursor-pointer text-brand-primary decoration-brand-primary;
  }

  .form-input-style {
    @apply w-full rounded-md border-[1px] border-brand-primary bg-transparent px-4 py-2 shadow-sm shadow-brand-primary focus:border-brand-secondary focus:shadow-brand-dark focus:outline-none;
  }

  .form-input-style-disabled {
    @apply w-full rounded-md border-2 border-brand-secondary bg-white px-4 py-2 focus:outline-none;
  }
  .submit-button {
    @apply w-full rounded-lg border-b-[3px] border-brand-dark bg-brand-dark px-2 py-[8px] text-sm font-semibold text-white shadow-sm shadow-brand-dark duration-100 hover:-translate-y-[2px] hover:bg-brand-secondary active:translate-y-1 active:border-b-[2px] active:shadow-none lg:px-6 lg:py-2 lg:text-base;
  }
  .primary-button {
    @apply w-max rounded-lg border-b-[3px] border-brand-regular bg-brand-secondary px-2 py-[8px] text-sm font-semibold text-white shadow-sm shadow-brand-secondary duration-100 hover:-translate-y-[2px] hover:bg-brand-primary active:translate-y-1 active:border-b-[2px] active:shadow-none lg:px-6 lg:py-2 lg:text-base;
  }
  .secondary-button {
    @apply w-max rounded-lg border-b-[3px] border-gray-200 bg-gray-100 px-2 py-[8px] text-sm font-semibold text-brand-medium shadow-sm shadow-gray-200 duration-100 hover:-translate-y-[2px] hover:bg-gray-200 hover:text-brand-secondary active:translate-y-1 active:border-b-[2px] active:shadow-none lg:px-6 lg:py-2 lg:text-base;
  }
  .danger-button {
    @apply w-max rounded-lg border-b-[3px] border-red-700 bg-red-700 px-2 py-[8px] text-sm font-semibold text-white shadow-sm shadow-red-700 duration-100 hover:-translate-y-[2px] hover:bg-red-500 active:translate-y-1 active:border-b-[2px] active:shadow-none lg:px-6 lg:py-2 lg:text-base;
  }
  .input-label {
    @apply absolute -top-3 left-4 cursor-text rounded-lg bg-white p-1 py-0 text-sm text-gray-600 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:left-3 peer-placeholder-shown:border-transparent peer-placeholder-shown:bg-transparent peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-top-3 peer-focus:left-4 peer-focus:bg-white peer-focus:px-1 peer-focus:py-0 peer-focus:text-sm peer-focus:text-gray-600;
  }
  .textarea-label {
    @apply absolute -top-2.5 left-4 cursor-text rounded-lg bg-white p-1 py-0 text-sm text-gray-600 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:left-3 peer-placeholder-shown:border-transparent peer-placeholder-shown:bg-transparent peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:-top-2.5 peer-focus:left-4 peer-focus:bg-white peer-focus:px-1 peer-focus:py-0 peer-focus:text-sm peer-focus:text-gray-600;
  }
}

.slide-fade-enter-from {
  transform: translateX(20px);
  opacity: 0;
}
.slide-fade-enter-to {
  transform: translateX(0);
  opacity: 1;
}
